[submodule "pcb/P0001-PCB-001_Aa"]
	path = pcb/P0001-PCB-001_Aa
	url = https://github.com/M0WUT/p0001-pcb-001_aa.git
[submodule "pcb\\P0001-PCB-001_Aa"]
	branch = main
[submodule "firmware/P0001-FW-001_TestFirmware"]
	path = firmware/P0001-FW-001_TestFirmware
	url = https://github.com/M0WUT/p0001-fw-001_test-firmware.git
[submodule "firmware\\P0001-FW-001_TestFirmware"]
	branch = main
